<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <style>
        .product-card {
            margin-bottom: 15px; /* Espace entre les cartes */
        }
        .product-card img {
            width: 100%; /* Assure que l'image remplit la largeur de son conteneur */
            height: auto; /* Maintient le ratio de l'image */
            max-height: 200px; /* Limite la hauteur des images */
            object-fit: cover; /* Couvre l'espace sans déformation */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Application Mcommerce</h1>
        <div class="row">
            <div th:each="product : ${products}" class="col-md-4 product-card">
                <a th:href="@{|/details-product/${product.uuid}|}">
                    <div class="card">
                        <img th:src="'data:image/png;base64,' + ${product.image}" class="card-img-top" alt="air max"/>
                        <div class="card-body">
                            <p class="card-text" th:text="${product.title}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html> 